{{cprTrace "START ITEM SETTINGS MIXIN CPR-QUALITY.HBS"}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.quality"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    <select name="system.quality" data-dtype="{{this.system.quality}}">
      {{#select item.system.quality}}
        {{#each (cprFindConfigObj "itemQuality") as |quality q| }}
          <option value="{{q}}">
            {{localize quality}}
          </option>
        {{/each}}
      {{/select}}
    </select>
  </div>
</li>
{{!-- Crit Fail Effect --}}
{{#if (cprCompare item.type "===" "weapon")}}
  {{#if (cprCompare item.system.quality "===" "poor")}}
    <li class="item flexrow">
      <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.itemSheet.critFailEffect.text"}}
      </div>
      <div class="item flexrow setting-value text-nowrap item-end">
          <select name="system.critFailEffect"
                  data-dtype="{{item.system.critFailEffect}}">
            {{#select item.system.critFailEffect}}
              {{#each (cprFindConfigObj "attackableCritFailEffects") as |effect e| }}
                <option value="{{e}}">
                  {{localize effect}}
                </option>
              {{/each}}
            {{/select}}
          </select>
      </div>
    </li>
  {{/if}}
{{/if}}
{{cprTrace "END CPR-QUALITY.HBS"}}
